$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
	display: block;
	float: right;
	img { width: 100%; }
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

/* theme specific footer rules */
.copyright {
	border-top: 2px solid rgba(0,0,0,0.2);
}

.copyright-box {
	flex: 1 1 0;
}

.footer-row {
	display: flex ;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 40px 0;
	font-size: 14px;
}

.footer-nav {
	ul {
		column-count: 2;
		column-gap: 20px;
	}

	a {
		display: block;
		padding: 8px 16px;
		border-radius: 6px;
		font-size: 16px;
		&:hover { 
			background: rgba(0,0,0,0.2);
		}
	}
}

.footer-contact {
	flex: 0 0 auto;

	address {
		display: inline-block;
		vertical-align: top; 
		margin-right: 16px;
		line-height: 1.6;
		font-size: 16px;
	}
}

.footer-contact-title {
	font-size: 16px;
	font-weight: 700;
	display: block;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.footer-register {
	text-align:center;
}

.footer-register-title {
	display: block;
	font-family: Oswald;
	margin: 0 0 15px;
	font-weight: 300;
	font-size: 24px;
}

@media screen and (max-width: 1000px) {
	.footer-row { display: block; }

	.footer-contact {
		text-align:center;
		address { 
			display: block;
			margin: 15px 0;
		}
	}

	.footer-nav {
		margin: 40px 0;

		ul {
			column-count:1;
		}

		a {
			font-size: 18px;
			text-align:center;
			text-transform: uppercase;
			padding: 12px;
		}

	}
}

@media screen and (max-width: 750px) {

	.copyright {
		padding: 20px 0;
		text-align:center;
		.sw { display: block; }
	}

	#jac {
		float: none;
		margin: 10px auto;
	}
}

