$heroMaxHeight: 800px;

/* home hero */
.home-hero {
	height: 100vh;
	min-height: 500px;
	max-height: 800px;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	color: #fff;
	text-align:center;
}

.home-hero-content {
	max-width: 950px;
	margin: 0 auto;
	padding: 40px;
	p { 
		font-size: 20px; 
		line-height: 1.6;
		max-width: 750px;
		margin: 0 auto;
	}
}

.home-hero-title { 
	color: #fff; 
	font-size: 42px;
}

/* hero swiper */
.hero-swiper {
	margin-top: - $navHeight;
	padding-top: $navHeight;
	height: 100vh;
	min-height: 500px;
	max-height: 600px;
	position: relative;

	.swiper,
	.slick-list,
	.slick-track,
	.swipe-item { height: 100%; }

	.slick-dots {
		position: absolute;
		bottom: 20px;
		left:0; right:0;
		text-align:center;

		li {
			display: inline-block;
		}

		button {
			transition: 0.2s all $ease-in-out-sine;
			width: 18px; height: 18px;
			border: 3px solid #D6D6D6;
			border-radius: 12px;
			text-indent: -999em;
			overflow:hidden;
			margin: 0 4px;
			outline: none;
		}

		.slick-active button,
		button:hover {
			background-color: $secondaryColor;
		}
	}
}

/* hero with profile */
.hero {
	position: relative;
	margin-top: - $navHeight;
	padding-top: $navHeight;
	height: 100vh;
	min-height: 500px;
	max-height: 600px;
	overflow: hidden;
}

.hero-profile-links {
	float: right;
	width: 330px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.hero-profile {
	flex: 1 1 auto;
	position: relative;
	color: #fff;

	p {
		font-size: 13px;
		line-height: 1.6;
	}

	&:after {
		z-index: 1;
		content:"";
		position: absolute;
		bottom:0; left:0; right:0; top:0;
		@include linear-gradient( to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 90% );
		background-color: transparent;
	}
}

.hero-profile-content {
	position: absolute;
	bottom:0; left:0; right:0;
	padding: 20px;
	z-index: 2;
}

.hero-profile-name {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	display: block;
}

.hero-links {
	background: $primaryColor;	
	a {
		display: block;
		color: #fff;
		text-align:center;
		padding: 8px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;

		&:hover {
			background: rgba(0,0,0,0.2);
		}
	}
}

.hero-img {
	position: absolute;
	top:$navHeight; left:0; right: 330px; bottom:0;
}

@media screen and (max-width: 850px) {

	.hero {
		height: auto;
		max-height: none;
	}

	.hero-img {
		position: static;
		&:after {
			content:"";
			display: block;
			width: 100%;
			padding: 0 0 56.25%;
		}
	}

	.hero-profile-links {
		width: auto;
		float: none;
	}

	.hero-profile { display: none; }
}