.primary-bg { background-color: $primaryColor; }
.secondary-bg { background-color: $secondaryColor; }
.tertiary-bg { background-color: $tertiaryColor;}
.light-bg { background-color: $lightBackgroundColor; }
.md-bg { background-color: #C4C7CB;}

@media screen and (min-width: 600px) {
	ul.two-col {
		column-count: 2;
		column-gap: 10px;
	}
}

.school-image-logo {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;

	.lazybg {
		flex: 0 0 45%;
		width: 45%;
		margin: 0 2% 25px;
		background-image: none !important;

		img {
			visibility: visible;
			border: 1px solid $fieldBorderColor;
		}
	}
}

/* home page */
body.home {
	header,
	.nav-wrap,
	.toggle-nav { display: none !important; }
	.page-wrapper { padding-top:0 !important; }
}

.home-logos {

	.col:first-child {
		border: solid #e1e1e1;
		@media screen and (min-width: 750px) { border-width: 0 1px 0 0; }
		@media screen and (max-width: 750px) { border-width: 0 0 1px; }
	}

	.item {
		padding: 60px 10px;
	}

	a {
		width: 264px;
		margin: 20px auto;
		display: block;
		text-align:center;
	}
	img { 
		width: 100%; 
		display: block;
		margin: 0 0 15px;
	}
}

/* overrides */
.selector {
	border-radius: $buttonBorderRadius;
}

/* latest tweet */
.latest-tweet {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.latest-tweet-content {
	padding: 0 40px;
	font-size: 18px;
}

.latest-tweet-ico {
	flex: 0 0 150px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;
	font-family: Oswald;
	@include t-fa-abs();
	text-indent:0;
	padding-left: 60px;
	&:before {
		content: $fa-var-twitter;
		right: auto;
		font-size: 60px;
	}
}

.latest-tweet-button {
	flex: 0 0 auto;
}

@media screen and (max-width: 750px) {
	.latest-tweet { 
		display: block; 
		text-align: center;
	}

	.latest-tweet-ico {
		padding:0;
		&:before { 
			font-size: 40px; 
			position: static;
			transform: none !important;
			margin-right: 5px;
		}
	}

	.latest-tweet-content {
		padding: 20px;
	}
}

/* date block */
.block-with-time {
	position: relative;
	padding-left: 100px;
	margin-bottom: 20px;

	time {
		display: block;
		position: absolute;
		width: 80px;
		top:0; left:0;
		text-align:center;
		border: 1px solid $primaryColor;
		border-radius: $buttonBorderRadius;
		font-family: Oswald;
		font-weight: 700;

		.m-d { 
			background: $primaryColor;
			color: #EBEFF2;
			display: block;
			text-transform: uppercase;
			padding: 4px 0;
			font-size: 16px;
		}

		.y {
			line-height: 50px;
			font-size: 24px;
			color: $primaryColor;
		}
	}

	.content {}

	.title {
		text-transform: uppercase;
		color: $primaryColor;
		display: block;
	}
}

.excerpt-block {
	position: relative;
	text-align:center;

	p {
		max-width: 90%;
		width: 780px;
		margin: 0 auto;
		line-height: 1.8;
	}
	&:after {
		content:"";
		position: absolute;
		bottom: -30px; left:0; right:0;
		margin: 0 auto;
		width:0; height:0;
		border: 15px solid transparent;
		border-top-color: #fff;
		z-index:10;
	}

	.selector {
		margin: 15px 0;
		display: inline-flex;
		text-align:left;
	}
}

/* title icons */
.title-ico {
	display: block;
	margin: 0 auto;
	text-align:center;
	font-size: 72px;
	color: $secondaryColor;
}

/* calendar */
.calendar-buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;

	.button {
		font-family: Oxygen;
		position: absolute;
		top:0; left:0;
		margin-bottom: 10px;
	}

	
	.selector {
		display: inline-flex;
		border-radius: $buttonBorderRadius;
		.value { padding: 13px; }
		+ .selector {
			margin-left: 5px;
		}
	}

	@media screen and (max-width: 850px) {
		justify-content: space-between;
		.calendar-selectors { margin: 0 10px; }
		.button { position: static; }
	}

	@media screen and (max-width: 650px) {
		justify-content: center;
	}	
	
}

/* year view */
.calendar-month-view {
	background: #fff;
	border-radius: $buttonBorderRadius;
	border: 1px solid #e1e1e1;
	max-width: 780px;
	margin: 20px auto;
}

.calendar-month-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.calendar-month-row {
	display: flex;
	border: solid #e1e1e1;
	border-width: 1px 0 0;
	padding: 10px 0;

	.tournament-list & {
		border-width: 0 0 1px;
	}

	.button {
		font-family: Oxygen;
	}

	>div {
		padding: 8px 16px;
		border-left: 1px solid #e1e1e1;
		&:first-child { border: none; }
	}

}

.calendar-month-view {
	.calendar-month-time {
		text-align:center;
		text-transform: uppercase;
		line-height: 1;
		padding: 4px 16px !important;
		span { display: block; }

		.m,.y { font-size: 14px; }
		.d {
			font-size: 24px;
			font-weight: 700;
		}
	}
}

.calendar-month-loc,
.calendar-month-title {
	flex: 1 1 auto;
}

.calendar-month-button,
.calendar-month-time {
	flex: 0 0 auto;
}

@media screen and (max-width: 750px) {
	.calendar-month-row { 
		display: block; 
		position: relative;
		&:nth-child(even) { background-color: rgba(0,0,0,0.05); }
		>div { border: none; }
	}

	.calendar-month-time {
		position: absolute;
		top: 10px; right: 10px;
	}

	.calendar-month-title {
		padding-right: 70px;
	}


}

/* calendar view */
.calendar-mv-calendar {
	margin: 40px 0;
}
.calendar-mv-calendar-head {
	display: flex;

	span {
		flex: 0 0 14.2857%;
		width: 14.2857%;		
		text-align:center;
		font-family: Oswald;
		text-transform:uppercase;
		font-weight: 700;
	}
}

.calendar-mv-calendar-body {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #e1e1e1;
	border-radius: $buttonBorderRadius;
	background: #fff;

	a.event {
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size:12px;
		float: left;
		clear: left;
	}

	a.more {
		font-size: 14px;
		color: #C4C7CB;
		clear: left;
		display: block;
		&:hover { color: $primaryColor; }
	}

	div {
		flex: 1 0 auto;
		width: 14.2857%;
		min-height: 120px;
		padding: 40px 10px 10px;
		position: relative;
		border: 1px solid #EBEFF2;


		.day {
			position: absolute;
			top: 12px; left: 12px;
			font-size: 12px;
			font-weight:300;
		}

		&.outside-month .day {
			color: #C4C7CB;
		}
	}

}

@media screen and (max-width: 930px) {
	.calendar-mv-calendar-head { display: none; }
	.calendar-mv-calendar-body {
		div {
			width: 33.3333%;
		}
	}
}

@media screen and (max-width: 650px) {
	.calendar-mv-calendar-body {
		display: block;
		div { 
			width: auto; 
			min-height: 0;
		}
	}
}

.tournament-list {
	margin: 0 0 40px;
	border-bottom: 1px solid #e1e1e1;
}

.tournament-list-title {
	display: block;
	font-weight: 700;
	margin: 20px 0 10px;
}

.tournament-list-more {
	display: block;
	padding: 20px 10px;
	margin: 10px 0;
	text-align:center;
	font-weight: 600;
	color: $bodyContentColor;
	border-radius: $buttonBorderRadius;
	text-transform: uppercase;
	span {
		&:after {
			@include fa-icon();
			content: $fa-var-angle-down;
			margin-left: 8px;
			font-size: 20px;
		}
	}

	&:hover {
		color: #fff;
		background: $primaryColor;
	}
}

.sidebar {
	width: 330px !important;
	flex: 0 0 auto !important;
}

.sidebar-mod {
	padding: 0 0 20px;
	& + & { 
		padding-top: 20px; 
		border-top: 1px solid #C6C6C6;
	}
}

.live-feed-mod {
	background: $primaryColor;
	color: #fff;
	font-family: Oswald;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	display: block;

	.lazybg {
		opacity:1 !important;
		background-color: #000;
		margin: 0 0 15px;
		border: 3px solid #000;
		&:after {
			content:"";
			display: block;
			width: 100%;
			padding: 0 0 56.25%;
		}
	}

	span {
		@include t-fa();
		&:before { 
			content: $fa-var-desktop;
			margin: 0 10px;
			font-size: 28px;
			vertical-align: middle;
		}
	}
}

.links-mod {
	ul {
		padding: 0 12px;
	}

	a {
		text-transform: uppercase;
		padding: 8px;
		font-size: 12px;
		border: none;
		border-radius: 4px;
		color: $primaryColor;
		display: block;
		&:hover {
			color: #fff;
			background: $primaryColor;
		}
	}
}

.buttons-mod {
	display: flex;
	flex-flow: row wrap;

	span {
		flex: 1 1 auto;
		&:first-child {
			flex: 0 0 100%;
		}
	}

	.button {
		margin: 5px;
		display: block;
	}
}

/* sidebar calendar mod */
.calendar-mod-head {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px;

	a {
		font-size: 12px;
		color: $primaryColor;
		text-transform: uppercase;
		display: block;
		width: 80px;
		text-align:right;
	}
}

.calendar-mod-title {
	flex: 0 0 auto;
	font-family: Oswald;
	color: $secondaryColor;
	text-transform: uppercase;
	font-size: 24px;
}

.calendar-mod {

	.pika-lendar {
		width: auto;
		float: none;
	}

	.events-calendar {
		background: $secondaryColor;
		border-radius: $buttonBorderRadius;
		padding: 20px 20px 30px;
		position: relative;

		.monthly {
			display: block;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
			position: absolute;
			bottom: 10px; right: 10px;
		}
	}

	.pika-single {
		border: none;
		background: transparent;
		color: #fff;
	}

	.pika-label {
		font-family: Oswald;
		font-size: 16px;
		text-transform: uppercase;
		background: transparent;
	}

	.pika-table abbr {
		color: #fff;
		cursor: default;
		text-transform: uppercase;
	}

	.pika-button {
		background: transparent;
		color: #fff;
		font-size: 14px;
		line-height: 24px;
		padding: 5px 10px;

		&:hover {
			background: #fff !important;
			color: $secondaryColor !important;
		}

		&.has-event {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 4px; left: 4px; right:4px;
				border-bottom: 2px solid $primaryColor;
			}
		}
	}

	.is-today .pika-button {
		background: rgba(0,0,0,0.2);
	}

	.is-selected .pika-button {
		box-shadow: none;
	}

	
	.pika-next,
	.pika-prev {
		@include t-fa-abs();
		color: #fff;
		background: transparent !important;
		font-size: 24px;
		opacity:1;
	}

	.pika-next:before { content: $fa-var-angle-right;}
	.pika-prev:before { content: $fa-var-angle-left;}
}


/* sports tiles */
.sport-tile {
	.item {
		background: #fff;
		text-align:center;
		padding: 15px;
		border-radius: $buttonBorderRadius;

		color: $bodyContentColor;

		&:hover {
			background: $primaryColor;
			color: #fff;
		}

		.d-bg & {
			background: rgba(255,255,255,0.1);
			color: #fff;
			&:hover {
				background: #fff;
				color: $bodyContentColor;
			}
		}

	}
}

.sport-tile-title {
	font-size: 14px;
	text-transform: uppercase;

	&:before {
		@include fa-icon();
		display: block;
		text-align:center;
		font-size: 32px;
		content: $fa-var-futbol-o;
		margin: 20px auto;
	}	
}


/* registration form */
.body-form {
	input { border-radius: $buttonBorderRadius;}
}

.selector.light {
	background: $fieldBackgroundColor;
	border: 1px solid $fieldBorderColor;
	text-transform: uppercase;
	margin:0;

	&:after {
		border-color: $fieldBorderColor;
		color: $fieldPlaceHolderColor;
	}

	.value { 
		font-size: 14px;
		padding: 15px;
		color: $fieldPlaceHolderColor !important; 
	}

}


.registration-form {

	$fieldsetBorderColor: #cbcbcb;

	width: 780px;
	margin: 0 auto;
	max-width: 100%;
	color: #666;

	fieldset {
		border: 1px solid $fieldsetBorderColor;
		border-radius: $buttonBorderRadius;
		padding: 20px;
		margin: 0 0 20px;
	}

	.fieldset-box {
		margin: 0 0 20px;
		border-radius: $buttonBorderRadius;
		overflow: hidden;
	}

	.fieldset-box-head {
		background: #fff;
		color: $secondaryColor;
		text-transform: uppercase;
		padding: 10px;
		line-height: 1;
		font-size: 14px;

		.selector {
			margin: -10px;
		}
	}

	.fieldset-box-content {
		background: #c4c7cb;
		padding: 25px;

		p {
			padding: 10px;
		}
	}

	.fieldset-box-row {
		margin: -25px -25px 0;
		display: block !important;
		padding: 15px !important;
		border-top: 1px solid rgba(0,0,0,0.3);

		& + .fieldset-box-row {
			margin-top:0;
		}

		&:first-child { border-top-width:0; }
		&:last-child { margin-bottom: -25px; }
	}

	label.fieldset-box-row:hover {
		background: rgba(0,0,0,0.1);
	}

	.fieldset-box-footer {
		background: $secondaryColor;
		color: #fff;
		overflow: hidden;
		padding: 10px 15px;
	}

	legend {
		display: block;
		margin-left: 15px;
		padding: 0 10px;
		text-transform: uppercase;
		font-size: 14px;
	}

	label {
		&.radio,
		&.checkbox {
			position: relative;
			overflow: hidden;
			display: inline-block;
			font-size: 14px;
			padding: 4px 12px;

			input {
				position: absolute;
				top:0; left: -999px;
			}

			input+span {
				@include t-fa();
				padding-left: 28px;
				position: relative;
				display: block;
				&:before {
					position: absolute;
					top:50%; left:0;
					transform: translateY(-50%);
					color: $primaryColor;
					display: inline-block;
					font-size: 20px;
				}
			}

		}

		&.checkbox input+span:before { content: $fa-var-square-o; }
		&.checkbox input:checked+span:before { content: $fa-var-check-square; }

		&.radio input+span:before { content: $fa-var-circle-thin; }
		&.radio input:checked+span:before { content: $fa-var-check-circle; }
	}

	.cc-ico {
		width: 40px; height: 20px;
		font-size: 28px;
		color: $primaryColor;
	}


	.field-title {
		text-transform: uppercase; 
		display: block;
		font-size: 14px;
		font-weight: 700;
		margin: 0 0 5px;
	}

	label.file {
		position: relative;
		display: block;
		overflow: hidden; 
		input[type=file] { 
			position: absolute; 
			left: -999px; top:0;
		}
	}

	.note {
		color: #9EA3A8;
		font-size: 12px;
		display: block;
		margin: 0 0 10px;
	}

	.form-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.previous { order: -1; }
		.next { order: 99; }

		&:after {
			content:"";
			display: block;
			flex: 1 0 auto;
			border-top: 1px solid $fieldsetBorderColor;
			margin: 0 10px;
		}
	}

	.athletic-director-actions {
		margin-top: 8px;
		padding-top: 8px;
		border-top: 1px solid $fieldsetBorderColor;
		display: inline-block;
	}

}

.form-action {
	@include t-fa();
	color: $primaryColor;
	background: transparent;
	border: none; 
	display: inline-block;
	padding: 4px 8px;
	border-radius: $buttonBorderRadius;
	cursor: pointer;
	font-size: 14px;

	&:before { margin-right: 4px; }

	&:hover {
		background: $primaryColor;
		color: #fff;
	}
}

.form-action-remove:before { content: $fa-var-minus-circle;}
.form-action-password:before { content: $fa-var-lock;}
.form-action-add:before { content: $fa-var-plus-circle;}

.progress-bar {
	display: flex;
	background: $primaryColor;
	margin: 10px 0 30px;

	span {
		flex: 1 1 auto;
		display: block;
		text-transform: uppercase;
		text-align:center;
		color: #EBEFF2;
		padding: 12px 4px;
		font-size: 13px;

		&.selected { background: $secondaryColor; }
	}

	/* not enough room to display it well */
	@media screen and (max-width: 650px) { display: none; }
}

.selector.with-team-logo {
	.team-logo {
		width: 30px; height: 30px;
		display: block;
		flex: 0 0 auto;
		align-self:center;
		margin-left: 5px;
		background: center no-repeat;
		background-size:contain;
		border-radius: $buttonBorderRadius;
	}

}

.flex-result-selector {
	display:flex;
	align-items:center;
	margin: 0 0 10px;

	.label {
		width: 140px;
		padding-right: 10px;
		flex: 0 0 auto;
	}

	.selector {
		flex: 1 1 auto;
	}
}

@media screen and (max-width: 500px) {

	.flex-result-selector {
		display:block;
		margin: 0 0 20px;
	}

	.sportsmanship-grid {
		.col:nth-child(even) {
			margin-bottom: 20px;
		}
	}

}

.standings-container {
	background: #fff;
	margin: 0 0 10px;
}

@media screen and (min-width: 600px) {
	.standings-container {

		.standings-header { font-size: 12px; }

		.standings-row {
			display: table;
			border-collapse: collapse;
			width: 100%;
			table-layout: fixed;

			&:first-child { border-top: 1px solid $fieldBorderColor; }

			.standings-row-team {
				width: 200px;
				padding:8px;
				text-align:left;
			}

			.standings-row-roster {
				width: 60px;
			}

			>span {
				padding: 8px;
				display: table-cell;
				text-align:center;
				border: 1px solid $fieldBorderColor;
				border-top-width:0;
				vertical-align:middle;
				width: 40px;
			}
		}



		.selector { 
			border: none; 
			margin: -8px;
			text-align:left;

			&:after { border: none; }
		}
	}
}

@media screen and (max-width: 600px) {

	.standings-container {
		border: 1px solid $fieldBorderColor;
		border-radius: $buttonBorderRadius;
	}

	.standings-header { display: none; }
	.standings-row {
		padding: 15px;
		overflow: hidden;

		.standings-row-roster,
		.standings-row-team {
			width: 100%;
			float: none; 
			text-align:left;
		}

		.standings-row-roster {
			margin: 5px 0 10px;
		}

		>span {
			display: block;
			float: left;
			width: 25%;
			text-align:center;

			&:before {
				content: attr(data-col);
				display: block;
			}
		}

		&:nth-child(odd) { background: rgba(0,0,0,0.05); }
	}
}

.schedule-results-container {
	background: #fff;
	margin: 0 0 10px;
}


@media screen and (min-width: 850px) {
	.schedule-results-row {
		display: table;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;

		&:first-child { border-top: 1px solid $fieldBorderColor; }

		>span {
			padding: 8px 2px;
			display: table-cell;
			text-align:center;
			border: 1px solid $fieldBorderColor;
			border-top-width:0;
			vertical-align:middle;
			text-transform: uppercase;
			font-size: 14px;
			width: 30px;
		}

		.location {
			width: 80px;
		}

		.time {
			width: 50px;
		}

		.with-selector {
			width: 150px;
			padding:0;
		}

		.selector { 
			border: none; 
			text-align:left;

			&:after { border: none; }
		}
	}

	.schedule-results-header {
		span { font-size: 12px; }
	}
}

@media screen and (max-width: 850px) {
	.schedule-results-container {
		border: 1px solid $fieldBorderColor;
	}

	.schedule-results-row {
		padding: 20px;
		&:nth-child(odd) { background: rgba(0,0,0,0.05); }

		>span {
			width: 33.333%;
			display: block;
			float: left;
			text-align:center;
			padding: 14px 8px;

			&:before {
				content: attr(data-col);
				display: block;
				text-transform: uppercase;
				font-size: 12px;
			}
		}

		.with-selector {
			width: auto;
			padding:0;
			float: none; 
		}
	}

	.schedule-results-header { display: none; }
}


.results-title-bar {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

	@media screen and (max-width: 599px) {
		justify-content: center;
		.selector {
			flex: 0 0 100%;
			margin: 0 0 20px;
		}
	}
}

.results-container {
	background: #fff;
	margin: -10px 0 20px;
}

.results-row {

	.badge {
		display: inline-block;
		width: 16px; height: 16px;
		border: 1px solid $fieldBorderColor;
		background: rgba($fieldBorderColor,0.3);
		border-radius: 50%;

		&.gold,
		&.silver,
		&.bronze { border: none; }

		&.gold { background-color: #CFC864;}
		&.silver { background-color: #C1C1C1;}
		&.bronze { background-color: #7A5534;}
	}

	.badge-block {
		display: inline-block;
		margin: 0 4px;
	}

	.badge-rep {
		display: block;
		line-height: 18px;
	}

}

.results-legend {
	padding: 20px;

	@media screen and (min-width: 599px) {
		ul {
			display: flex;
			flex-flow: row wrap;
		}

		li {
			width: 50%;
			flex: 1 1 50%;
		}
	}

}

@media screen and (min-width: 700px) {

	.results-row {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		text-align:center;
		text-transform: uppercase;

		>span {
			display: table-cell;
			padding: 8px;
			width: 7.5%;
			font-size:13px;
			border: 1px solid $fieldBorderColor;
			border-top-width:0;
			vertical-align:middle;
		}

		.stars,
		.sport { width: 20%; }
		.x2 { width: 15%; }
		.x4 { width: 30%; }	
		.all { width: 80%; }

		.sport {
			text-align:left;
		}

	}

	.results-header {
		background: $secondaryColor;
		color: #fff;
		>span { border-color: #fff; }
	}

	.results-header,
	.results-subheader {
		>span { font-size: 12px; }
	}

}

@media screen and (max-width: 700px) {

	.results-container {
		border: 1px solid $fieldBorderColor;
	}

	.results-row {
		text-align:center;
		padding: 15px;

		&:nth-child(odd) { background: rgba(0,0,0,0.02); }
		.stars,
		.sport { 
			display: block; 
			text-transform: uppercase;
			float: none !important;
			width: 100% !important;
			clear: both;
		}

		.sport { font-weight: 700; }
		.stars { padding-top: 10px; }

		[data-col] {
			width: 25%;
			float: left;
			display: block;
			&:before {
				display: block;
				text-transform: uppercase;
				content: attr(data-col);
				font-size:11px;
				margin: 10px 0 3px;
			}
		}
	}

	.results-subheader,
	.results-header { display: none; }

}

@media screen and (max-width: 500px) {
	.results-row {
		[data-col] { width: 50%; }
	}
}